spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: false
    validate-on-migrate: true

  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: validate
    show-sql: false


  h2:
    console:
      enabled: false

app:
  jwt:
    secret: ${APP_JWT_SECRET}
    issuer: restaurant-qr
    expiration-minutes: 60

logging:
  level:
    org.flywaydb: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: never



